*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 17vh;
    border-bottom: solid 1px rgb(0, 0, 0);
}

.header-text{
    font-size: 3em;
    color: rgb(0, 0, 0);
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    height: 70vh;
}

.footer{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 10vh;
    border-top: solid 1px rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.book-card{
    display: flex;
    padding: 1em;
    flex-direction: column;
    max-height: 200px;
    max-width: 200px;
    border: solid 1px rgb(0, 0, 0);
}

.book-form{
    display: flex;
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
}

button{
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100px;
    border: solid 1px rgb(0, 0, 0);
}

.overlay{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-color: rgb(0, 0, 0);
    pointer-events: none;
}

.overlay.active{
    opacity: 0.7;
    pointer-events: auto;
}

.book-form-div {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 1em;
    left: 50%;
    top: 50%;
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.book-form-div.active{
    display: flex;
    z-index: 1;
}

.form-field{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 2em;
}

.form-check{
    display: flex;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.submit-btn{
    align-self: center;
    width: 100%;
    padding: 0.5em; 
}

button:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

